.logo{
  width: 80px;
}

.app-header{
  display:flex ;
  justify-content: space-between;
  align-items: center;
}

.nav-item{
  display: flex;
  list-style-type: none;
  color: aqua;
}

.nav-item>li>a{
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}